{# no longer used but kept for reference #}

<p style="font-family: var(--sans-font)"> <a href="https://acim.org/acim/en/s/{{pageNumber}}?wid=toc" title="view on acim.org" class="whitespace-nowrap not-italic" >{{reference}}</a><br><span class="text-sm">(original on acim.org)</span></p>