<ul class=list-none>
{%- for entry in navPages -%}
	{%- if entry.indexPageTitle -%}
		{%- assign myTitle =  entry.indexPageTitle  -%}
	{%- else -%}
		{%- assign myTitle =  entry.title  -%}
	{%- endif -%}
  <li><a href="{{ entry.url }}">{{ myTitle }}</a>
{%- endfor %}
</ul>

