---
bookTitle: A Course in Miracles
---
<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width"> <!-- ,initial-scale=1 -->
<meta name=description content="A Course in Miracles reimagined with gender changes. God is Mother and brothers [sic] become companions ">
<link rel=icon href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>📘</text></svg>" type="image/svg+xml">
<title>{{bookTitle}} :: {{reference}} {{title}} </title>
<link rel=stylesheet href=https://cdn.simplecss.org/simple.min.css>
<link rel=author href=mailto:david.porter@fastmail.com>
<link rel=stylesheet href={{ "/bundle.css" | url }}>

<header>
	<h1><a href=/ class="no-underline text-var-text">{{bookTitle}}</a></h1>
	<p>ACIM for the 21st century. God is Mother. We do this with our companions</p>
</header>
<main>
 {{ content | safe }}
</main>

<footer>
	<p>made with 💕 by W. David Porter</p>
</footer>
