---
bookTitle: A Course in Miracles
bookAbbreviation: ACIM
---
<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width"> <!-- ,initial-scale=1 -->
<meta name=description content="A Course in Miracles reimagined with gender changes. God is Mother and brothers [sic] become companions ">
<link rel=icon href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>✴</text></svg>" type="image/svg+xml">
<title>{{bookAbbreviation}} :: {{reference}} {{title}} </title>
<link rel=stylesheet href=https://cdn.simplecss.org/simple.min.css type=text/css>
<link rel=author href=mailto:david.porter@fastmail.com>
<link rel=stylesheet href={{ "/assets/bundle.css" | url }} type=text/css>
<script src={{ "/assets/acim-org-link.js" | url }}></script>

<header>
	<h1><a href=/ class="no-underline text-var-text">{{bookTitle}}</a></h1>
	<p>If ACIM is pantheism, then God is Mother. We do this with our companions</p>
	<p><button popovertarget=menu title="menu">☰</button></p>
</header>
<main>
	<nav> {#- breadcrumbs -#}
	{%- set bPages = collections.all | eleventyNavigationBreadcrumb(reference, { includeSelf: true, allowMissing: true }) -%}
	{%- for myPage in bPages -%}
		{%- set keyParts = myPage.key.split(r/\.|-/)  -%}
		{%- set lastPartOfKey = keyParts[keyParts.length-1] -%}
		{%- if loop.first %} {#- home -#}
			<a href="{{myPage.url}}">🏠</a>
		{%- elseif loop.index == 2 -%} {#- volume name -#}
			{%- if loop.last -%}
				{{myPage.title}} {#- volume name, no link -#}
			{%- else -%}
				<a href="{{myPage.url}}">{{myPage.title}}</a>  {#- volume name, with link -#} 	
			{%- endif -%}
		{%- elseif myPage.key[0] == "W" -%}
			{%- if loop.index == 3 and loop.last %} {#- section name, no link, no reference -#}
				{{myPage.title}}
			{%- elseif loop.index == 3 -%} {#- section name, link, no reference -#}
				<a href="{{myPage.url}}">{{myPage.title}}</a> 
			{%- else -%} {#- last page, no link -#}
				{{ lastPartOfKey }}. {{myPage.title}}
			{%- endif -%}
		{%- elseif loop.last %} {#- no link, but want only the last part of the reference -#}
				{{ lastPartOfKey }}. {{myPage.title}}
		{%- else -%} {#- anywhere inbetween -#}
			<a href="{{myPage.url}}">{{ lastPartOfKey }}. {{myPage.title}}</a> 
		{%- endif -%}
		{%- if myPage.url != page.url -%}&ensp;→&ensp;{%- endif -%}
	{%- endfor -%}
	</nav>
	{%- set refParts = reference.split(r/\.|-/) -%}
	{%- set shortRef = refParts[refParts.length - 1] -%}
	{%- if shortRef == "in"  -%}
		{%- set shortRef = "" -%}
	{%- else -%}
		{%- set shortRef = shortRef + "." -%}
	{%- endif -%}
	{%- if bigTitle -%}
		<h2>{{bigTitle}}</h2>
	{%- elseif superTitle -%}
		<h2>{{ superTitle }}</h2>{#- commented out because workbookpages don't need it, but i'm not sur if it's neededin other places -#}
		<h3>{#- {%- if not hideReference -%}{{ shortRef }}{%- endif %} -#}{{title}}</h3>
	{%- else -%}
		<h2>{%- if not hideReference -%}{{ shortRef }}{%- endif %} {{title}}</h2>
	{%- endif -%}

 {{ content | safe }}
</main>

<nav class="flex" style="justify-content: space-between;">
<p><a class=button href={{prev}}>Previous</a></p>
<p><a class=button href={{next}}>Next</a></p>	
</nav>

<footer>
	<p>made with 💕 by W. David Porter</p>
</footer>

<nav popover id=menu>
{%- set navPages = collections.all | eleventyNavigation("home") -%}
{%- macro renderNavListItem(entry) -%}
	{%- if entry.key.includes(".") -%}
		{%- set smallRef = entry.key.split(".")[1] -%}
	{%- elseif smallRef == "in" -%}
		{%- set smallRef = "" -%}
	{%- else %}
		{%- set smallRef = entry.key.split("-")[1] -%}
	{%- endif %}
	{%- if smallRef == "in" -%}
		{%- set smallRef = "" -%}
	{%- endif -%}
	{#- some brute force here on workbook entries, too hard to generalise -#}
	{%- if smallRef.length > 0 -%}
		{%- set smallRef = smallRef | trim -%}
		{%- set smallRef = smallRef.replace(r/\d*–\d*/, "")  -%}
		{%- set smallRef = smallRef.replace(r/^r[A-Z]*/, "")  -%}
		{%- if smallRef.length > 0 -%}
			{%- set smallRef = smallRef + ". " -%}
		{%- endif -%}	
	{%- endif -%}
	<li class=""><a class="{% if entry.url == page.url %} border border-fuchsia border-dashed {% endif %}" href="{{entry.url}}">{{smallRef}} {{entry.title}}</a>
{%- endmacro -%}

{%- for navPage in navPages %}
	<details {% if navPage.url in page.url %}open{%endif%}><summary>{{navPage.title}}</summary>
		<ul class="list-none pl-4 my-0">
		{{ renderNavListItem(navPage )}}
		{% for childNavPage in navPage.children %}
			<li>
			{% if childNavPage.children.length == 0 %}
				{{ renderNavListItem(childNavPage )}}
			{% else %}
				<details class="" {% if childNavPage.url in page.url %}open{%endif%}><summary>{% if navPage.title == "Workbook for Students" %}{{childNavPage.key.split(" ")[1]}}{%else%}{{childNavPage.key.slice(2)}}{%endif%} {{childNavPage.title}}</summary>
					<ul class="list-none pl-8">
					{{ renderNavListItem(childNavPage )}}
					{% for grandchildNavPage in childNavPage.children %}
						{{ renderNavListItem(grandchildNavPage )}}
					{% endfor %}
					</ul>
				</details>
			{% endif %}
		{% endfor %}
		</ul>
	</details>

{%- endfor %}


</nav>