#menu details {
	all: revert;
}

#menu {
	margin: 0;
	height: 100vh;
	translate: -100vw;
	max-width: 80vw; 
}

#menu:popover-open {
  translate: 0;
}

p {
	font-family: Palatino, var(--serif-font);
}
