#menu {
	margin: 0;
	height: 100vh;
	translate: -100vw;
	max-width: 80vw; 
}

#menu:popover-open {
  translate: 0;
}

#menu details {
	all: revert;
}

#menu * {
	font-size: initial;
}

/* p {
	font-family: Palatino, var(--serif-font);
} */
