h1>a:visited {
	color: var(--text);	
}

/* tailwind-type classes */
.no-underline {
	text-decoration-line: none;
}

.text-var-text {
	color: var(--text);
}

.whitespace-nowrap {
	white-space: nowrap;
}